        body {
            margin: 0;
            background-color:rgb(1, 248, 153)
        }

     
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #333;
            padding: 10px 20px;
        }

        nav a {
            color: rgb(224, 21, 190);
            text-decoration: none;
            margin: 0 15px;
            font-size: 1.1em;
        }

        nav a:hover {
            color: #12b0f3;
        }

        .banner {
            height: 100vh;
            background: url('background.jpg') no-repeat center center/cover;
            color: rgb(30, 211, 193);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 20px;
        }

        .banner h1 {
            font-size: 4em;
            margin: 0;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
        }

        .banner p {
            font-size: 1.5em;
            margin: 20px 0;
            max-width: 600px;
            line-height: 1.5;
        }

        .banner a {
            padding: 15px 30px;
            background-color: #f31212;
            color: rgb(62, 201, 49);
            font-size: 1.2em;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .banner a:hover {
            background-color: gold;
        }

        footer {
            background-color: #c8182a;
            color: rgb(81, 155, 54);
            text-align: center;
            padding: 15px;
            font-size: 1em;
        }